.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}
.fontBoom{
  font-weight: 900;
  font-size: 99px;
}
.fontMidBoom{
  font-weight: 500;
  font-size: 49px;
}